:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}

/* HW-1 */
.hw-header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.hw-header {
}
.hw-header-list {
  background-color: #e7e9fc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.hw-header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.hw-header-address {
}
.hw-header-mail {
  font-size: 16px;
  line-height: 1.5;

  color: var(--slate);
}
.hw-header-tel {
  font-size: 16px;
  line-height: 1.5;

  color: var(--slate);
}

.hw-hero {
  background-color: var(--navyblue);
}
.hw-hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hw-hero-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--iris);
}
.hw-strategy {
}
.hw-strategy-list {
}

.hw-strategy-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.hw-strategy-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.hw-do {
}
.hw-team {
}
.list {
}
.hw-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navyblue);
}
.hw-team-item {
}
.hw-team-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.hw-team-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

/* HW-1 */

.header {
  background-color: #e7e9fc;
}
.header-navigation {
}
.header-logo {
  font-family: 'Raleway', sans-serif;
}
.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.header-mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.hero {
}
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.hero-list:hover {
}
.hero-btn:hover {
  color: #ffffff;
}
.hero-btn:focus {
  color: #ffffff;
}
.hero-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #e7e9fc;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
}

.portfolio {
}
.portfolio-list {
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue) w;
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer {
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 22px;
  left: 156px;
  top: 1864px;
}
.footer-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
